<div class="layout layout--col layout--top">
  <div class="grid grid--cols-3 border--h-7 pb--1">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium lg:value--large">{{ online_count }}</div>
        <div class="label label--medium lg:label--large">Online</div>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium lg:value--large">{{ offline_count }}</div>
        <div class="label label--medium lg:label--large">Offline</div>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium lg:value--large">{{ needs_update_count }}</div>
        <div class="label label--medium lg:label--large">Needs Update</div>
      </div>
    </div>
  </div>

  <div class="columns"
    data-overflow-max-cols="3"
    data-overflow-max-cols-lg="4"
    data-overflow="true"
    data-overflow-counter="true"
  >
    <div class="column">
    {% render 'show_error', settings: settings, devices: devices %}
    {% for device in devices %}
      {% render "tailscale_device" with device: device %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-tailscale/refs/heads/main/assets/tailscale.svg" />
  <span class="title">Device Status</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
