<div class="layout layout--col layout--stretch">
  <div class="grid grid--cols-3 border--h-7 pb--1">
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium">{{ online_count }}</div>
        <div class="label label--small">Online</div>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium">{{ offline_count }}</div>
        <div class="label label--small">Offline</div>
      </div>
    </div>
    <div class="item">
      <div class="meta"></div>
      <div class="content">
        <div class="value value--medium">{{ needs_update_count }}</div>
        <div class="label label--small">Needs Update</div>
      </div>
    </div>
  </div>

  <div class="columns stretch-y"
    data-overflow-max-cols="2"
    data-overflow="true"
    data-overflow-counter="true"
  >
    <div class="column">
    {% for device in devices %}
      {% render "tailscale_device" with device: device %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-tailscale/refs/heads/main/assets/tailscale.svg" />
  <span class="title">Device Status</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
