<div class="layout layout--col">
  <div class="columns stretch-y"
    data-overflow-max-cols="3"
    data-overflow="true"
    data-overflow-counter="true"
  >
    <div class="column">
    {% for device in devices %}
      {% render "tailscale_device" with device: device %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image image-stroke" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-tailscale/refs/heads/main/assets/tailscale.svg" />
  <span class="title">Device Status</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
