<div class="view">
  <div class="layout layout--col layout--stretch">
    {% comment %} Bottom Section {% endcomment %}
    <div class="column stretch-y"
      data-list-limit="true"
      data-list-max-height="190"
      data-list-hidden-count="true"
      data-list-max-columns="4"
    >
      {% for device in devices %}
        {% render "tailscale_device" with device: device %}
      {% endfor %}
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-tailscale/refs/heads/main/assets/tailscale.svg" />
    <span class="title">Devices Status</span>
    <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
  </div>
</div>
